In [1]:
#standard DS imports
import pandas as pd
import numpy as np

#visualization imports
import matplotlib.pyplot as plt
import seaborn as sns

import wrangle as w
import env

In [2]:
query = '''select bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, fips
        from propertylandusetype
            join properties_2017
                using (propertylandusetypeid)
        WHERE propertylandusedesc = ("Single Family Residential")'''

In [3]:
url = env.get_db_url('zillow')

In [4]:
zillow = pd.read_sql(query, url)

In [5]:
zillow.sample(10)

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
1426077,3.0,2.0,1256.0,175261.0,1957.0,2334.12,6037.0
912158,4.0,2.0,1640.0,248460.0,1979.0,3243.86,6037.0
1675418,3.0,2.0,1363.0,349900.0,1953.0,4377.85,6037.0
172279,3.0,3.0,3076.0,680836.0,1999.0,11060.08,6037.0
884807,3.0,2.0,1130.0,402488.0,1953.0,4856.48,6037.0
1465596,3.0,2.0,2041.0,459396.0,1948.0,5648.88,6037.0
1689264,4.0,2.5,2061.0,133064.0,1973.0,1339.44,6059.0
495507,4.0,2.5,2205.0,322923.0,1976.0,3411.14,6111.0
440158,4.0,3.5,2204.0,898000.0,1977.0,9191.58,6059.0
1379313,2.0,2.0,1484.0,760916.0,1961.0,9179.33,6037.0

In [6]:
zillow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2152863 entries, 0 to 2152862
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    float64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  float64
 3   taxvaluedollarcnt             float64
 4   yearbuilt                     float64
 5   taxamount                     float64
 6   fips                          float64
dtypes: float64(7)
memory usage: 115.0 MB

In [7]:
zillow.shape

(2152863, 7)

In [8]:
zillow.isnull().any()

bedroomcnt                       True
bathroomcnt                      True
calculatedfinishedsquarefeet     True
taxvaluedollarcnt                True
yearbuilt                        True
taxamount                        True
fips                            False
dtype: bool

In [9]:
zillow = zillow.dropna()

In [10]:
zillow.isnull().any()

bedroomcnt                      False
bathroomcnt                     False
calculatedfinishedsquarefeet    False
taxvaluedollarcnt               False
yearbuilt                       False
taxamount                       False
fips                            False
dtype: bool

In [11]:
zillow.yearbuilt = zillow.yearbuilt.astype(int)
zillow.bedroomcnt = zillow.bedroomcnt.astype(int)
zillow.fips = zillow.fips.astype(int)
zillow.taxvaluedollarcnt = zillow.taxvaluedollarcnt.astype(int)
zillow.calculatedfinishedsquarefeet = zillow.calculatedfinishedsquarefeet.astype(int)

In [12]:
zillow.dtypes

bedroomcnt                        int64
bathroomcnt                     float64
calculatedfinishedsquarefeet      int64
taxvaluedollarcnt                 int64
yearbuilt                         int64
taxamount                       float64
fips                              int64
dtype: object

In [14]:
df = w.wrangle_zillow()

this file exists, reading from csv